@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather:wght@400;700&display=swap');

/* Added a wild card */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* general body style */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ADD8E6;
}

/* heading and logo */
h1, h2 {
    font-family: 'Merriweather', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2a2a2a;
}

#logo {
    float: left;
    font-size: 190%;
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #ADD8E6;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* workers image */
#worker-outer {
    height: 700px; /* Adjusted to match the height of #worker-image */
    width: 100%;
    overflow: hidden;
    position: relative;
}

#worker-image {
    height: 100%;
    width: 100%;
    background: url('../images/worker.jpg') no-repeat center center;
    background-size: cover;

    /* animates zoom effect on loading page */
    animation: worker-zoom 5s forwards;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 250px;
    height: 200px;

    padding: 10px;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;

    position: absolute;
    bottom: 30px;
    right: 50px;
    color: #fff;
}

/* creates the level of zoom for workers image */
@keyframes worker-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}