/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather:wght@400;700&display=swap');

/* Added a wild card */
*{
    margin: 0;
    padding: 0;
    border: none;
}

/* general body style */
body {
    font-family:'Roboto' sans-serif;
    font-weight: 300;
    color: #6c757d;
}

/* heading and logo */
h1, h2 {
    font-family: 'Merriweather', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}